
@model PagedList.IPagedList<ClingTo.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" /> 

<div class="jumbotron">
    <h1>ClingTo</h1>
    <p class="lead">Welcome to the #1 Site for Custom Designed Clothes and Apparel</a></p>
</div>

<div class="row">

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="search" class="btn btn-default" /> <br />
    </p>
        }
    <p>
        Order By @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.TitleSortParam, currentFilter = ViewBag.CurrentFilter }) | @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParam, currentFilter = ViewBag.CurrentFilter })
    </p>
    @if(User.IsInRole("Designer"))
    {
        <p>
            <div class="btn btn-default">
                @Html.ActionLink("Add New Product", "Create", "Products")
            </div>
        </p>

    }
    <div class="css-table">
        <div class="grid-container">
            @foreach (var product in Model)
            {
                <div class="flex-container">
                        <div class="arrt" style="background-image: url(@product.ImageUrl)"></div>
                        <h2 class="panel-heading">@product.Name</h2>
                    <div class="content">
                        <p>@product.Description</p>
                        <p>Price: @product.Price</p>
                        @if (User.IsInRole("Customer"))
                        {
                            <div style="display: block" class="btn btn-default">
                                @Html.ActionLink("Add To Cart", "AddToCart", "Customers", new { productUid = product.Uid }, null)
                            </div>
                        }
                        @if (User.IsInRole("Designer"))
                        {
                            <div style="display: block" class="btn btn-default">
                                @Html.ActionLink("Delete", "Delete", "Products", new { id = product.Id }, null)
                            </div>
                            <div style="display: block" class="btn btn-default">
                                @Html.ActionLink("Edit", "Edit", "Products", new { id = product.Id }, null)
                            </div>
                        }
                    </div>
                </div>
            }
            @if (Model.Count <= 0)
            {
                <div class="col-md-12">
                    <h1 class="page-header">No items</h1>
                </div>
            }
        </div>
        
    </div>
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        
    </div>
</div>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 20px;
    }
    .arrt {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
    }
    .content {
        padding: 20px;
    }
</style>